section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(../img/restaurant1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 900px; 
    box-sizing: border-box;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    margin-top: -60px;
}

.form-section {
    flex: 1;
    background-color: rgba(71, 70, 70, 0.3);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    border: 1px solid white;
    max-height: 530px;
    overflow-y: auto;
    text-align: center;
    max-width: 700px; /* Ajustado para hacer el contenedor mÃ¡s ancho o delgado */
}
label {
     color: white;
}


h1 {
    margin-bottom: 20px;
    color: white;
}

/* Estilos para inputs en .input-contenedor */
.input-contenedor {
    display: flex;
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #ffffff;
    width: 685px; 
}

.input-contenedor label {
    position: absolute;
    top: -25%;
    left: 0;
    color: #ffffff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}

.input-contenedor input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 55px;
    color: #ffffff;
}

.input-contenedor i {
    position: absolute;
    color: #ffffff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.image-preview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 10px;
    margin: 0 auto;
}

.image-preview img.preview-image {
    max-width: 300px;
    height: auto;
    margin: 10px;
    border: none;
}

/* CSS de la parte de las tablas de cantidad de mesas*/
.tables-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Mantiene el contenido centrado horizontalmente */
}

.input-container-tables {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between; /* Alinear los elementos */
    width: 100%; /* Hacer que el contenedor ocupe el 100% del ancho disponible */
    max-width: 340px; /* Limitar el ancho mÃ¡ximo si es necesario */
    padding: 0 20px; /* Espaciado horizontal en lugar de solo a la derecha */
}

.input-container-tables label {
    color: white;
    text-align: left;/* Alinear el texto a la derecha */
    flex: 1; /* Permitir que el label ocupe el espacio disponible */
}

.input-container-tables input[type="number"],
.input-container-tables input[type="text"] {
    width: 40px; /* Ajustar el ancho para que los nÃºmeros se vean bien */
    height: 30px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
    text-align: center; /* Centrar el texto en el input */
}

.button-container-mesas {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    color: #000814;
    font-size: 16px;
    margin: 0 5px;
}

button:hover {
    background-color: #ebe9e9;
}

/* Ajuste especÃ­fico para los inputs en el formulario de Editar y Registrar Restaurante */
.form-section label {
    margin-bottom: 10px;
}